body{
    display:flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
}

.logo{
    border-radius: 100px;
    width: 80px;
    height: 80px;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color:white;
    padding: 24px 10%;
}

.nav-bar-ul{
    display: flex;
    align-items: center;
    color: grey;
    gap: 16px;
    font-size: 14px;
}

.nav-bar-li{
    list-style-type: none; 
}

.nav-bar-a{
    color:grey;
    text-decoration: none;
}


.top-content{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 15%;
    padding-bottom: 96px;
}

.top-button{
    width: 120px;
    border-radius: 8px;
    padding: 6px;
    background-color: #3882F6;
    color: white;
}

.top-content-1{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 36px 0;
}



.top-image{
    width:500px;

}

.main-content-1-1{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 32px;
}

.square{
    border: 3px solid;
    border-color: blue;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.main-content-ill{
    width: 150px;
    text-align: center;
}

.main-content-2{
    padding: 128px;
    margin-top: 96px;
    background-color: lightgray;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main-img{
    width: 150px;
    height:150px;
    border-radius: 5px;
}

.main-content-2-1{
    width: 720px;
}

.main-content-2-2{
    display: flex;
    justify-content: space-between;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.main-content-3{
    display: flex;
    margin: 32px;
    background-color: white;
    justify-content: center;
}

.main-content-3-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin: 64px;
    padding: 24px 0px;
    width: 1000px;
    height: 80px;
    border-radius: 8px;
}

.main-content-3-2{
    display: flex;
    width: 700px;
    padding-left: 64px;
    padding-right: 64px;
    flex-direction: column;
}

.main-button{
    width: 120px;
    border-color: white;
    border-radius: 8px;
    padding: 6px;
    background-color: #3882F6;
    color: white;
}

.main-content-3-3{
    width: 400px;
    text-align: center;
}


.footer{
    background-color: #1F2937;
    text-align: center;
    color: white;
    font-weight: 100; 
    font-size: 12px; 
    padding: 18px;
}